<pkm-header></pkm-header>
<div class="loading" *ngIf="loading">
  <pkm-page-loader></pkm-page-loader>
</div>
<div *ngIf="cards && !loading" class="container">
  <div
    fxLayout="row wrap"
    fxLayoutWrap
    fxLayoutGap.gt-xs="2%"
    fxLayoutGap.gt-md="0.5%"
    fxLayoutAlign="center"
  >
    <div
      class="search"
      fxFlex="94%"
      fxFlex.gt-md="46%"
    >
    <form [formGroup]="searchForm">
      <mat-form-field class="example-full-width">
        <mat-label>Search by pokemon name</mat-label>
        <input type="text" formControlName="search" matInput placeholder="Pikachu">
        <md-icon matSuffix class="material-icons">&#xE8B6;</md-icon>
      </mat-form-field>
    </form>
    </div>
    <div
      class="search"
      fxFlex="94%"
      fxFlex.gt-md="46%"
    >
      <mat-paginator
        [length]="cards.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[4, 8, 16, 32]"
        [pageIndex]="page"
        (page)="paginate($event)"
      >
      </mat-paginator>
    </div>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutWrap
    fxLayoutGap.gt-xs="2%"
    fxLayoutGap.gt-md="0.5%"
    fxLayoutAlign="center"
  >
    <pkm-card
      class="card-card"
      fxFlex="94%"
      fxFlex.gt-xs="46%"
      fxFlex.gt-md="20%"
      *ngFor="let card of showPageCards()"
      [card]="card"
    ></pkm-card>
  </div>
</div>
