<pkm-header></pkm-header>
<div *ngIf="cards">

  <div
    fxLayout="row wrap"
    fxLayoutWrap
    fxLayoutGap.gt-xs="2%"
    fxLayoutGap.gt-md="0.5%"
    fxLayoutAlign="center"
  >
    <div
      class="search"
      fxFlex="94%"
      fxFlex.gt-md="46%"
    >
    <form [formGroup]="searchForm">
      <mat-form-field class="example-full-width">
        <mat-label>Search by pokemon name</mat-label>
        <input type="text" formControlName="search" matInput placeholder="Pikachu">
        <md-icon matSuffix class="material-icons">&#xE8B6;</md-icon>
      </mat-form-field>
    </form>
    </div>
    <div
      class="search"
      fxFlex="94%"
      fxFlex.gt-md="46%"
    >
      <mat-paginator
        [length]="cards.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[4, 8, 16, 32]"
        (page)="paginate($event)"
      >
      </mat-paginator>
    </div>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutWrap
    fxLayoutGap.gt-xs="2%"
    fxLayoutGap.gt-md="0.5%"
    fxLayoutAlign="center"
  >
    <mat-card
      class="card-card"
      fxFlex="94%"
      fxFlex.gt-xs="46%"
      fxFlex.gt-md="20%"
      *ngFor="let card of showPageCards()"
    >
      <mat-card-header>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>{{card.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img" [src]="card.imageUrl">
      <mat-card-content>
        <h2>Types</h2>
        <mat-chip-list aria-label="Types" *ngIf="card.types">
          <mat-chip *ngFor="let type of card.types" color="primary">{{type}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <a
          [routerLink]="['/card', card.id]"
          routerLinkActive="active"
          mat-raised-button
          color="primary"
        >
          Details
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
