<pkm-header></pkm-header>
<div class="loading" *ngIf="loading">
  <pkm-page-loader></pkm-page-loader>
</div>
<div class="container">
  <pkm-breadcrumb [breadCrumbs]="breadCrumbs"></pkm-breadcrumb>
  <div
    class="card-details"
    *ngIf="card && !loading"
    fxLayout="row wrap"
    fxLayoutWrap
    fxLayoutGap.gt-md="0.5%"
    fxLayoutAlign="space-between"
  >
    <div
      fxFlex="100%"
      fxFlex.gt-md="46%"
    >
      <img class="img" [src]="card.imageUrlHiRes">
    </div>
    <div
      fxFlex="100%"
      fxFlex.gt-md="46%"
    >
      <h1 class="name-and-id">
        {{card.id}} - {{card.name}}
      </h1>
      <h2>Types</h2>
      <mat-chip-list aria-label="Types" *ngIf="card.types">
        <mat-chip *ngFor="let type of card.types" color="primary">{{type}}</mat-chip>
      </mat-chip-list>
      <div class="attacks" *ngIf="hasAttacks()">
        <h2>Attacks</h2>
        <mat-expansion-panel class="attacks-panel" hideToggle *ngFor="let attack of card.attacks">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{attack.name}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">Damage: {{attack.damage}}</mat-list-item>
            <mat-list-item role="listitem">Cost: {{attack.convertedEnergyCost}}</mat-list-item>
            <mat-list-item role="listitem">Description: {{attack.text}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </div>
      <div class="resistances" *ngIf="hasResistances()">
        <h2>Resistances</h2>
        <mat-chip-list aria-label="resistances">
          <mat-chip *ngFor="let resistances of card.resistances" color="primary">{{resistances.type}} {{resistances.value}}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="weaknesses" *ngIf="hasWeaknesses()">
        <h2>Weaknesses</h2>
        <mat-chip-list aria-label="Weaknesses">
          <mat-chip *ngFor="let weaknesses of card.weaknesses" color="primary">{{weaknesses.type}} {{weaknesses.value}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    
  </div>
</div>
