<mat-card>
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="img" [src]="card.imageUrl">
  <mat-card-content>
    <h2>Types</h2>
    <mat-chip-list aria-label="Types" *ngIf="card.types">
      <mat-chip *ngFor="let type of card.types" color="primary">{{type}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a
      [routerLink]="['/card', card.id]"
      routerLinkActive="active"
      mat-raised-button
      color="primary"
    >
      Details
    </a>
  </mat-card-actions>
</mat-card>